@font-face {
    font-family: roboto-mono;
    src: url(fonts/Roboto_Mono/static/RobotoMono-Regular.ttf);
}
body {
    margin: 0;
    padding: 0;
    font-family: roboto-mono;
    }  
.headertop {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: rgb(0, 0, 0);
    position: relative;
}   
.navigation {
    display: flex;
}
.nav-items {
    position: relative;
}
.nav-item:last-child{
    padding-right: 25px;
}
.nav-item {
    font-size: 15px;
    font-family: roboto-mono;
    color: white;
    cursor: pointer;
    padding: 0 20px;
}

.header {
    padding: 0 20px;
    background-color: #fbfbfb;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    height: 100px;
}
.header-nav {
    display: flex;
}
/* .header-items {
    position: relative;
} */
.header-item {
    font-size: 22px;
    cursor: pointer;
}
.header-item:hover {
    color: grey;
}
.header-item-1:hover ~ .header-item-1-dropdown{
    display: block;
}
.header-item-1-dropdown {
    position: fixed;
    height: 250px;
    opacity: 75%;
    background-color: white;
    display: none;
    left: 2px;
    right: 2px;
    top: 150px;
    z-index: 1;
    animation-name: zoomin;
    animation-duration: 1s;
    animation-timing-function: ease;
}
.header-item-2:hover ~ .header-item-2-dropdown{
    display: block;
}
.header-item-2-dropdown {
    position: fixed;
    height: 250px;
    opacity: 75%;
    background-color: white;
    display: none;
    left: 2px;
    right: 2px;
    top: 150px;
    z-index: 1;
    animation-name: zoomin;
    animation-duration: 1s;
    animation-timing-function: ease;
}
.header-item-3:hover ~ .header-item-3-dropdown{
    display: block;
}
.header-item-3-dropdown{
    position: fixed;
    height: 250px;
    opacity: 75%;
    background-color: white;
    display: none;
    left: 2px;
    right: 2px;
    top: 150px;
    z-index: 1;
    animation-name: zoomin;
    animation-duration: 1s;
    animation-timing-function: ease;
}
.header-item:not(:last-child) {
    margin-right: 60px;
}

.slider {
    width: 100%;
    height: 500px;
    opacity: 80%;
}
/* .slider-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */
.collage {
    width: 100%;
    height: 500px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat (10, 1fr);
    grid-template-rows: repeat(8, 62px);
    grid-gap: 2px;
    padding-bottom: 10px;

}
.mon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fae19d;
    border: solid black 2px;
    border-radius: 5px;
    transition: 1s;
}
.mon:hover {
    transform: scale(1.2);
    box-shadow: grey;
    z-index: 2;
}
.one {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
}
.one {
    width: 100%;
    height: 100%;
    position: relative;
}
#glass1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}
.two {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 5; 
}
.two {
    width: 100%;
    height: 100%;
    position: relative; 
}
#video1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}
.three {
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 3; 
}
.three{
    width: 100%;
    height: 100%;
    position: relative; 
}
#skirt{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}
.four {
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: red;
    font-size: 20px;
    font-family: roboto-mono;
    font-weight: 600;
}

.five {
    grid-column-start: 9;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 4; 
}
.five{
    width: 100%;
    height: 100%;
    position: relative; 
}
#dressgirls{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}
.six {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 6;   
}
.six{
    width: 100%;
    height: 100%;
    position: relative; 
}
#cglass1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}
.seven {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5; 
    background-color: blue;
    font-size: 20px;
    font-family: roboto-mono;
    font-weight: 600;
}
.eight {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 5; 
}
.eight{
    width: 100%;
    height: 100%;
    position: relative; 
}
#bcoats{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}
.nine {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 5; 
}
.nine{
    width: 100%;
    height: 100%;
    position: relative; 
}
#suit{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}
.ten {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 9; 
}
.ten{
    width: 100%;
    height: 100%;
    position: relative;
}
#bsuits{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}
.eleven {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 7; 
}
.eleven{
    width: 100%;
    height: 100%;
    position: relative;
}
#dress{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}
.twelve {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 7; 
}
.twelve{
    width: 100%;
    height: 100%;
    position: relative;
}
#girls{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}
.therteen {
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 5;
    grid-row-end: 9; 
}
.therteen{
    width: 100%;
    height: 100%;
    position: relative;
}
#video2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}
.fourteen {
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: 6; 
    background-color: yellow;
    font-size: 20px;
    font-family: roboto-mono;
    font-weight: 600;
}
.fifteen {
    grid-column-start: 9;
    grid-column-end: 11;
    grid-row-start: 4;
    grid-row-end: 6; 
}
.fifteen{
    width: 100%;
    height: 100%;
    position: relative;
}
#collection{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}
.sixteen {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 7;
    grid-row-end: 8; 
    background-color:green;
    font-size: 20px;
    font-family: roboto-mono;
    font-weight: 600;
}
.seventeen {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 7;
    grid-row-end: 9; 
}
.seventeen{
    width: 100%;
    height: 100%;
    position: relative;
}
#mcoats {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}
.eighteen {
    grid-column-start: 8;
    grid-column-end: 11;
    grid-row-start: 6;
    grid-row-end: 8; 
}
.eighteen {
    width: 100%;
    height: 100%;
    position: relative;
}
#glass2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}
/* 
.slider-button {
   position: absolute;
   background-color: white;
   border: none;
   left: 50%;
   top: 70%;
   transform: translate(-50%, -50%);
   padding: 30px 45px;
   border-radius: 50px;
   font-size: 20px;
   cursor: pointer;
   font-family: roboto-mono;
   animation-name: spimbottomup;   
   animation-duration: 1s;
   animation-timing-function: linear;
   transition: all;
   transition-duration: 0.2s;
   text-transform: uppercase;
   box-shadow: 0px 10px 10px #423b33;
} */
.slider-button:active {
    box-shadow: 0px 5px 10px #423b33;
    transform: translate(-50%, -45%);
}
@keyframes spimbottomup {
    0% {top: 74%; opacity: 0;}
    100% {top: 70%; opacity: 1;}
}
@keyframes zoomin {
    0% {opacity: 0;
         transform: scale(1);}
    100% {opacity: 75%; 
         transform: scale(1);}
}
.men {
    margin-top: 90px;
    background-image: linear-gradient(90deg, rgba(169,217,246,1) 0%, rgba(167,214,242,0.9136029411764706) 58%, rgba(214,244,250,1) 100%);
    width: 100%;
    height: 50%;
    position: relative;
}
.photo-men {
  margin-left: 700px;
  padding: 10px 20px;
  position: absolute; bottom: 0px;
}
#men {
   font-family: roboto-mono;
   margin-left: 100px;
   margin-top: 100px;
   position: absolute;
}
.button-men {
    position: absolute;
    border: none;
    background-color: white;
    padding: 20px 30px;
    border-radius: 50px;
    font-size: 20px;
    font-family: roboto-mono;
    cursor: pointer;
    left: 100px;
    top: 170px;
    opacity: 0;
    animation-name: fadein;
    animation-duration: 1s;
    animation-delay: 1.2s;
    animation-fill-mode: forwards;
    
}
@keyframes fadein {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.woman {
    margin-top: 90px;
    background-image: linear-gradient(90deg, rgba(255,193,203,0.46262254901960786) 0%, rgba(255,193,203,0.8295693277310925) 38%, rgba(255,193,203,1) 100%);
    width: 100%;
    height: 50%;
    position: relative;
}
.photo-woman {
    position: absolute; bottom: 0;
    left: 80px;
    padding: 10px 20px;

}
#woman {
    position: absolute;
    font-family: roboto-mono;
    left: 730px;
    top: 100px;
}
.button-woman {
    position: absolute;
    border: none;
    background-color: white;
    padding: 20px 30px;
    border-radius: 50px;
    font-size: 20px;
    font-family: roboto-mono;
    cursor: pointer;
    top: 175px;
    left: 730px;
    opacity: 0;
    animation-name: fadein;
    animation-duration: 1s;
    animation-delay: 1.2s;
    animation-fill-mode: forwards;
}

.kid {
    margin-top: 90px;
    background-image: linear-gradient(90deg, rgba(218,165,32,1) 0%, rgba(218,165,32,0.6643032212885154) 52%, rgba(218,165,32,0.42620798319327735) 100%);
    width: 100%;
    height: 50%;
    position: relative;
    margin-bottom: 30px;
}
.photo-kid {
    margin-left: 700px;
    padding: 10px 20px;
    position: absolute; bottom: 0px;
}
#kid {
    font-family: roboto-mono;
    margin-left: 100px;
    margin-top: 100px;
    position: absolute;
}
.button-kid {
    position: absolute;
    border: none;
    background-color: white;
    padding: 20px 30px;
    border-radius: 50px;
    font-size: 20px;
    font-family: roboto-mono;
    cursor: pointer;
    left: 100px;
    top: 170px;
    opacity: 0;
    animation-name: fadein;
    animation-duration: 1s;
    animation-delay: 1.2s;
    animation-fill-mode: forwards;
}
#line {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: #fae19d
}
h3 {
    font-size: 15px;
    font-family: roboto-mono;
    cursor: pointer;
}
h3:hover{
    border-bottom: solid 1px black;
}

.footer {
    width: 100%;
    height: 300px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    position: relative;
}
.foot-container {
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;

}
.foots {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.foot-nav {
     font-size: 18px;
     margin-top: 20px;
     
}
ul {
    list-style: none;
    padding: 0;
}

li:not(:last-child) {
    margin-bottom: 5px;
    font-size: 15px;
    font-family: roboto-mono;
    cursor: pointer;
}
li:hover {
    border-bottom: solid white 1px;
}
